

<div class="row row-header align-items-center">
		<div class="col">
			<h1 class="titulo-header mt-5 mb-3" routerLink="/index" (click)="click('inicio')">TALLER DE CARPINTERIA DE OMAR SCHMIDT</h1>
			
		</div>
		
		
		
</div>
<div class="row row-navbar"> 
	
		
      <nav class="navbar navbar-expand-md navbar-style">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#uno" aria-controls="uno" aria-expanded="false">
          <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="uno">     
          <ul class="navbar-nav mr-auto">

            <li class="nav-item ml-3 mr-3">
              <a id="inicio" class="nav-link" routerLink="/index" (click)="click('inicio')">Inicio</a>
            </li>

            <li class="nav-item ml-3 mr-3">
              <a id="galeria" class="nav-link" routerLink="/galeria" (click)="click('galeria')">Galería</a>
            </li>

            <li class="nav-item ml-3 mr-3">
              <a id="instrumentos" class="nav-link" routerLink="/instrumentos" (click)="click('instrumentos')">Instrumentos Musicales</a>
            </li>
            
             <li class="nav-item ml-3 mr-3">
              <a id="venta" class="nav-link" routerLink="/venta" (click)="click('venta')">Tirantería y Machimbre</a>
            </li>


             <li class="nav-item ml-3">
              <a id="contacto" class="nav-link" routerLink="/contacto" (click)="click('contacto')">Contacto</a>
            </li>
            

            
          </ul>
        </div>
      </nav>
	
</div>