

<div class="row row-footer align-items-center justify-content-center">
  
 

      
            <div class="col-12 col-xl-11 div-datos">
              <p> Taller de Carpintería de Omar Schmidt | Trabajos a medida - Venta de Tirantería y Machimbre.</p>
                  <div><a href="https://www.facebook.com/carpinteriade.omarschmidt" target="_blank" class="badge badge-primary">Nuestro Facebook</a></div>
                    <div>Teléfono: (0291) 488-8653</div>
                    <div>Dirección: Tucumán 3153 - Bahía Blanca</div>
                    <div class="email">email: carpinteriaschmidt@hotmail.com</div>

                    <div class="volverArriba">
                      <a id="topBtn" (click)="irArriba()">Volver arriba</a>
                    </div>
                      
             


           </div>
             







</div>