<div  class="row justify-content-around">
	<div id="productos-venta" class="col-12 col-xl-11 ">
		<br>
		<p>En nuestro local comercial disponemos de tirantería de primera calidad, en varias medidas. Contamos también con machimbre de primera calidad, para la construcción de techos, entrepisos, etc.</p>
		<p>A continuación puede ver todas las medidas con las que trabajamos.</p><br>

		<div class="col-6 d-inline-block">
			<div class="bg-text">Tirantes</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">First item</li>
				<li class="list-group-item">Second item</li>
				<li class="list-group-item">Third item</li>
				<li class="list-group-item">Fourth item</li>
			  </ul>
		</div>
		<div class="col-6 d-inline-block">
			<ul class="list-group list-group-flush">
				<li class="list-group-item">First item</li>
				<li class="list-group-item">Second item</li>
				<li class="list-group-item">Third item</li>
				<li class="list-group-item">Fourth item</li>
			  </ul>
		</div>
			
		

	</div>

	<div id="modalVenta" class="modal">

			<i class="fas fa-times close"></i>
		  
			<i id="btn_izquierda" class="fas fa-chevron-left flecha" (click)="hallarAnterior()"></i>
		  
			<i id="btn_derecha" class="fas fa-chevron-right flecha" (click)="hallarSiguiente()"></i>
		  
			<img class="modal-content" id="img01">
		  
			<div id="caption"></div>
	</div>

</div>

