<div  class="row justify-content-around">
	<div id="productos-venta" class="col-12 col-xl-11 ">
		<br>
		<p>En nuestro local comercial disponemos de tirantería de primera calidad, en varias medidas. Contamos también con machimbre de primera calidad, para la construcción de techos, entrepisos, etc.
		<br>A continuación puede ver todas las medidas con las que trabajamos.</p>
		<br>

		<div class="col-3 d-inline-block div-info">
			<div class="bg-text">Tirantes</div>
			<li type="none" *ngFor="let item of medidasTirantes">
				{{item}}
			</li>		
		</div>
		
		<div class="col-3 d-inline-block div-info">
			<div class="bg-text">Machimbre</div>
			<li type="none" *ngFor="let item of medidasMachimbre">
				{{item}}
			</li>		
		</div>

		<div class="col-3 d-inline-block div-info">
			<div class="bg-text">Vigas</div>
			<li type="none" *ngFor="let item of medidasVigas">
				{{item}}
			</li>
		</div>

		<div class="col-3 d-inline-block div-info">
			<div class="bg-text">Otros productos</div>
			<li type="none" *ngFor="let item of otrosProductos">
				{{item}}
			</li>		
		</div>	
					
	</div>

	<div class="col-12 col-xl-11 mt-3">
		<div class="container2">
			<img src="{{imagenTirantes}}" alt="" class="image2">
		</div>
		<div class="container2">
			<img src="{{imagenMachimbre}}" alt="" class="image2">
		</div>
		<div class="container2">
			<img src="{{imagenMachimbre}}" alt="" class="image2">
		</div>
	</div>

</div>

