<br>
<div class="row justify-content-center">

	<div class="col-12 col-xl-11">
			<div class="col-4 d-inline-block jumbo-gui">
				<h4>titulo 1</h4>
				<p>debitis quos. Dolorum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nam nostrum sunt, obcaecati sit laboriosam eaque, expedita, maiores assumenda accusantium eos beatae commodi accusamus porro? Minus ea tenetur odit dolor.</p>
			</div>

			<div class="col-4 d-inline-block div-imagen">
				<img src="../../assets/images/cocina_index.jpg" alt="" class="d-inline-block img-fluid">

			</div>

			<div class="col-4 d-inline-block div-imagen">
				<img src="../../assets/images/cocina_index.jpg" alt="" class="d-inline-block img-fluid">

			</div>

	</div>
	
	
		
		
</div>
