.jumbo-gui {
	position: relative;
	float: left;
	/* top: 50%;

	transform: translateY(-50%); */

	text-align: center;
}

.div-imagen {
	margin: 0;
	padding: 2px;
}
.bg-text {
	margin: 10px 0;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	text-transform: capitalize;
	font-size: 30px;
	font-style: italic;
}

.bg-image {
	/*background-image: url('../../assets/images/cocina_index.jpg');*/
	background: rgba(204, 204, 204, 0.5);
}

.imagen-guitarra {
	width: 100%;
	height: auto;
}

#relleno {
	height: auto;
	margin-bottom: 250px;
}
