<div class="row justify-content-around">
	<div class="col-12 col-xl-11 datos ml-1 mr-1">
		<h3>{{ descripcion[1] }}</h3>
		<p class="d-inline-block">{{ descripcion[2] }}</p>
		<button id="botonVolver" type="button" class="btn btn-sm float-right" routerLink="/galeria"> <i class="fas fa-chevron-left"></i> Volver </button>
	</div>
</div>


<div  class="row justify-content-around">
	<div id="productos" class="col-12 col-xl-11">		
	</div>

	<div *ngIf="imagenes.length < 5" class="relleno">
	</div>

	<div id="myModal" class="modal">

	<i class="fas fa-times close"></i>

	<i id="btn_izquierda" class="fas fa-chevron-left flecha" (click)="hallarAnterior()"></i>

	<i id="btn_derecha" class="fas fa-chevron-right flecha" (click)="hallarSiguiente()"></i>

	<img class="modal-content" id="img01">

	<div id="caption"></div>
	</div>

</div>
